[submodule "src/api/CVClever-API"]
	path = src/api/CVClever-API
	url = https://github.com/rociornav/CVClever-API.git
[submodule "src/web/CVClever-Web"]
	path = src/web/CVClever-Web
	url = https://github.com/rociornav/CVClever-Web.git
